
h1{
    color:red;
    background-color: blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
a{
    color:aqua;
    text-decoration:none;
}
.green-bg{
    background-color:rgb(30, 128, 0);
    color: azure;
    text-transform:uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#work
p{
    background-color:aqua;
    color:navy;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rounded-border{
    border: 1px solid;
    padding: 0.5rem 1rem;
    border: radius 999px; 
}
.rounded-border, 
li{background-color: blanchedalmond;
    color: blueviolet;
    font-family:'Times New Roman', Times, serif;

}
 